@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --darkblue: #1f2937;
    --white: #e5e7eb;
    --yellow: #f9faf8;
    --blue: #3882f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
}

.header, .hero-header, .info, .quote, .callToAction, .footer {
    padding: 0 208px
}

.header {
    background-color: var(--darkblue);
    color: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.hero-header {
    background-color: var(--darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    height: 472px;
}

.hero-text {
    width: 50%;
}

.main-text {
    color: var(--yellow);
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    color: var(--white);
    font-size: 18px;
    margin-bottom: 16px;
}

.button > button{
    background-color: var(--blue);
    color: var(--yellow);
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 8px 34px;
}

.hero-img {
    width: 50%;
    height: 50%;
    background-color: rgb(106, 116, 124);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: var(--darkblue);
}

.content {
    display: flex;
    gap: 48px;
    height: 60%;
}

.item {
    width: 160px;
    text-align: center;
}

.item-img {
    width: 160px;
    height: 160px;
    border: 4px solid var(--blue);
    border-radius: 10px;
    margin-bottom: 12px;
}

.item-text {
    color: rgb(105, 105, 105);
    font-size: 1.1rem;
}

.quote {
    background-color: var(--white);
    color: var(--darkblue);
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
}

.quote-name {
    align-self: flex-end;
    font-weight: 600;
    font-size: 26px;
}

.callToAction {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.cta-title {
    font-size: 24px;
    font-weight: 900;
    color: var(--yellow);
}
.cta-subtitle {
    font-size: 18px;
    color: var(--white);
}

.cta-button {
    background-color: var(--blue);
    border: 2px solid var(--yellow);
    color: var(--yellow);
    border-radius: 8px;
    padding: 8px 34px;
    font-weight: 700;
}